@font-face {
    font-family: 'FleurDeLeah';
    src: url(../Ressources/fonts/FleurDeLeah-Regular.ttf);
}

@font-face {
    font-family: 'UncialAntiqua';
    src: url(../Ressources/fonts/UncialAntiqua-Regular.ttf);
}

@font-face {
    font-family: 'Yaldevi';
    src: url(../Ressources/fonts/Yaldevi-VariableFont_wght.ttf);
}